*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,body
{
    /* 960*540 16:9 -- 1920*1080
       960*100      -- 1920*200  -- 640*200*3
       960*640 3:2
    */
    width: 100%;
    height: 100%;
    min-width: 1216px;
    min-height: 652px;
    text-align: center;
}

.container
{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("image/gender_symbol2.png");
    background-repeat: repeat;
    background-size: 512px;
}

.topBar
{
    position: absolute;
    top: 0;
    left: 0;
    height: 96px;
    padding: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: nowrap;
}

.topImage
{
    width: 36px;
    height: 36px;
}

.github,.about
{
    margin: 12px;
    text-decoration: none;
    color: black;
}

.image404
{
    width: 968px;
    height: 652px;
    background-color: white;
}

.mainArea
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.displayArea
{
    position: relative;
    min-width: 960px;
    min-height: 540px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titleImage
{
    width: 800px;
    height: auto;
    margin: 32px 0;
}


.firstButton,.secondButton
{
    position: relative;
    height: 128px;
    width: 128px;
    cursor: pointer;
    font-size: 20px;
}

.firstButtonImage,.secondButtonImage
{
    width: 128px;
    height: 128px;
}

.firstButtonText,.secondButtonText
{
    margin: 8px;
    padding: 8px 16px;
    border-radius: 32px;
    background-color: rgb(245,245,245);
}

.titleText
{
    font-size: 24px;
    margin: 12px;
    padding: 16px 24px;
    border-radius: 32px;
    color: white;
    background-color: rgb(244,81,30);
}


